.flex-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  background-color: rgb(154, 154, 165);
  padding: 20px;
  min-height: 70vh; 
  width: 100%;
}

#budgetForm {
  display: grid;
  grid-template-columns: 130px 200px;
  gap: 10px;
  align-items: center;
}

h2 {
  margin-bottom: 40px;
}

footer {
    color: white;
}

.main {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 50px 200px 120px 200px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.save {
  margin-top: 40px;
  display: flex;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
}

.explanation {
  display: flex;
  justify-content: left;

}

.listContainer {
  justify-content: center;
  background-color: rgb(69, 69, 71);
  display: flex;
  padding: 40px;
}

.listBG {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.mainBody {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

#login {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.loginContainer {
  min-height: 100vh;
  background: rgb(67, 66, 66);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBackground {
  width: 450px; 
  padding: 40px;
  background: rgb(141, 140, 140);

  border: 2px solid black;
  border-radius: 12px;
}

.loginButton {
  margin: 4px;
}

#register {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.registerContainer {
  min-height: 100vh;   
  background: rgb(67, 66, 66);

  display: flex;
  justify-content: center;
  align-items: center;
}

.registerBackground {
  width: 450px;     
  padding: 40px;
  background: rgb(141, 140, 140);

  border: 2px solid black;
  border-radius: 12px;
}

.registerButton {
  margin: 10px;
}